:root {
  --red: #2d142c;
  --maroon: #510a32;
  --darkRed: #801336;
  --offOrange: #c72c41;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: "JetBrains Mono", monospace;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-size: 1.6rem;
  min-height: 100%;
  background: var(--red);
}
.wrapper {
  display: flex;
  justify-content: center;
}
